.spacer {
  flex: 1 1 auto;
}

.app-logo {
  font-family: "NotoSans-Bold";
  font-weight: 800;
  div{
    width: 32px;
    height: 32px;
    background-color: orange;
    border-radius: 50%;
  }
}

.profile-dropdown{
  cursor: pointer;

}

.profile-image-container{
  width: 32px;
  height: 32px;
  border-radius: 5px;
  overflow: hidden;
  
  img{
    
    width: 32px;
    // height: 36.69px;
  }
}
.mat-menu {
  min-width: 200 !important;
}
::ng-deep .profile-menu{
  padding: 12px;
  // width: 188px;
  box-shadow: none;
  border: 1px solid #E0E0E0;
  border-radius: 12px !important;
  button{
    width: 120px;
    border-radius: 12px;
  }
}