<mat-toolbar>
  <span
    class="app-logo"
    fxLayout="row"
    fxLayoutAlign=" center"
    fxLayoutGap="10px"
  >
    <div></div>
    <span>devchallenges</span>
  </span>
  <span class="spacer"></span>

  <div fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="15px">
    <!-- <ng-content></ng-content> -->
    <div class="profile-image-container">
      <img src="/assets/images/profile.png" alt="" />
    </div>

    <span>{{ "Sirlord Osei" }} </span><mat-icon> arrow_drop_down</mat-icon>
  </div>
</mat-toolbar>
