.app-logo {
    font-family: "NotoSans-Bold";
    font-weight: 800;
    div{
      width: 32px;
      height: 32px;
      background-color: orange;
      border-radius: 50%;
    }
    span{
      color: #282051;
      font-weight: 600;
      font-family: "NotoSans-Bold";
      font-size: 16px;
    }
  }
  