<!-- <app-header></app-header> -->

<div class="container">
    <app-logo></app-logo>

  <p class="p1">Join thousands of learners from<br/>around the world</p>
  <p class="p2">
    Master web development by making real-life<br/>projects. There are multiple
    paths for you to<br/>choose
  </p>

  

      <mat-form-field appearance="outline" class="form-fields">
        <mat-icon matPrefix style="margin-right: 10px;" >email</mat-icon>
        <input matInput placeholder="Email" [(ngModel)]="email"/>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-fields">
        <mat-icon matPrefix style="margin-right: 10px;">lock</mat-icon>
        <input matInput placeholder="Password" [(ngModel)]="password"  type="password"/>
    </mat-form-field>

    <br>
    <button mat-flat-button (click)="signup()">Start coding now </button>
    
    <br>
    <br>

    <div fxLayoutAlign="center " fxLayout="column"  class="bottom" fxLayoutGap="20px">

        <p>or continue with these social profile</p>

        <div fxLayout="row" fxLayoutAlign="center " fxLayoutGap="10px">
            <div class="social-container">
                <mat-icon svgIcon="google"></mat-icon>
            </div>
            <div class="social-container">
                <mat-icon svgIcon="facebook"></mat-icon>
                
            </div>
            <div class="social-container">
                <mat-icon svgIcon="twitter"></mat-icon>
                
            </div>
            <div class="social-container">
                <mat-icon svgIcon="github"></mat-icon>

            </div>
        </div>
        <p>Already a member? <span routerLink="/login" style="color: rgb(83, 129, 216); cursor: pointer;">Login</span></p>
    </div>
</div>
