<!-- <app-header></app-header> -->

<div class="container">
  <p>Join thousands of learners from around the world</p>
  <p>
    Master web development by making real-life projects. There are multiple
    paths for you to choose
  </p>

  

      <mat-form-field appearance="outline" class="form-fields">
        <mat-icon matPrefix>email</mat-icon>
        <input matInput placeholder="Email" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-fields">
        <mat-icon matPrefix>lock</mat-icon>
        <input matInput placeholder="Password" />
    </mat-form-field>

    <br>
    <div fxLayoutAlign="center " fxLayout="column"  class="bottom" fxLayoutGap="20px">

        <p>or continue with these social profile</p>

        <div fxLayout="row" fxLayoutAlign="center " fxLayoutGap="10px">
            <div class="social-container">
                <mat-icon svgIcon=""></mat-icon>
            </div>
            <div class="social-container">

            </div>
            <div class="social-container">

            </div>
            <div class="social-container">

            </div>
        </div>
        <p>Already a member? <span style="color: rgb(83, 129, 216);">Login</span></p>
    </div>
</div>
