/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "NotoSans-Bold";
  src: url("./assets/fonts/NotoSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "NotoSans-Light";
  src: url("./assets/fonts/NotoSans-Light.ttf") format("truetype");
}
@font-face {
  font-family: "NotoSans-Thin";
  src: url("./assets/fonts/NotoSans-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "NotoSans-BoldItalic";
  src: url("./assets/fonts/NotoSans-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "NotoSans-Italic";
  src: url("./assets/fonts/NotoSans-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "NotoSans-Regular";
  src: url("./assets/fonts/NotoSans-Regular.ttf") format("truetype");
}

* {
  font-family: 'NotoSans-Regular';
}


.form-fields {
    width: 100% !important;
    border-radius: 12px;
  }
  
  .container {
    position: absolute;
    width: 473.83px;
    height: 584.3px;
    left: 33.55%;
    right: 33.55%;
    top: 10.28%;
    bottom: 22.99%;
    padding: 2%;
  
    border: 1px solid #bdbdbd;
    box-sizing: border-box;
    border-radius: 24px;
  }